.conteiner{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}
.formulario{
    text-align: center;
    border: 15px solid #111;
    width: 50%;
}
.formulario_titulo{   
    margin-top: 6%;
    margin-bottom: 5%;
}

.formulario_titulo-texto{
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: #000000;
    font-size:150% ;
}

.formulario_grupo{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.formulario_grupo_div_input{
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: #000000;
    margin-top: 7%;
}

.input-valor{
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    color: #000000;
    background-color: #7d8d9d;
    margin-top: 2%;
    width: 70%;
    height:25px;
    text-align: center;
}
.texto-centro-botao{
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    width: 30%;
    height: 50px;
    margin-bottom: 3%;
    background-color: #7d8d9d;
    color: #000000;
    border-radius: 10px  ;
}
@media screen and (max-width: 768px) {
    .formulario{
        width: 100%;
    }

  }