.conteiner{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}
.formulario{
    text-align: center;
    border: 15px solid #111;
    width: 50%;
}
.formulario_titulo{   
    margin-top: 6%;
    margin-bottom: 5%;
}

.formulario_titulo-texto{
    font-size:150% ;
}

.formulario_grupo{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.formulario_grupo_div_input{
margin-top: 7%;
}

.input-valor{
   margin-top: 2%;
   width: 70%;
   height:25px;
   text-align: center;
}
.texto-centro-botao{
    width: 30%;
    height: 50px;
    margin-bottom: 3%;
    background-color: #0000FF;
    color: #fff;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .formulario{
        width: 100%;
    }

  }